In [1]:
import pandas as pd
import numpy as np

In [4]:
# creating a dataframe

index = ['FireFox','Chrome','Safari','IE10','Opera']
df = pd.DataFrame({
    'https_status':[200,200,404,404,301],
    'response_time':[0.04,0.02,0.07,0.08,1.0]},
    index = index)

df

         https_status  response_time
FireFox           200           0.04
Chrome            200           0.02
Safari            404           0.07
IE10              404           0.08
Opera             301           1.00

In [6]:
# reindexing the rows of the dataframe
new_index = ['Chrome','Safari','Comodo Dragon','Opera','FireFox']
df.reindex(new_index)

               https_status  response_time
Chrome                200.0           0.02
Safari                404.0           0.07
Comodo Dragon           NaN            NaN
Opera                 301.0           1.00
FireFox               200.0           0.04

In [7]:
df.reindex(new_index,fill_value=0)

               https_status  response_time
Chrome                  200           0.02
Safari                  404           0.07
Comodo Dragon             0           0.00
Opera                   301           1.00
FireFox                 200           0.04

In [8]:
# reindexing the columns of a dataframe

df.reindex(columns=['response_time','https_status'])

         response_time  https_status
FireFox           0.04           200
Chrome            0.02           200
Safari            0.07           404
IE10              0.08           404
Opera             1.00           301

In [9]:
# Basic Operations on a data frame

In [11]:
df = pd.DataFrame (
    {'day':['1/1/2019','2/1/2019','3/1/2019','4/1/2019','5/1/2019','6/1/2019'],
    'temperature':[32,33,46,32,35,31],
    'windspeed':[6,7,8,9,4,3],
    'event':['Rain','Sunny','Cold','Rain','Sunny','Snow']})

df

        day  temperature  windspeed  event
0  1/1/2019           32          6   Rain
1  2/1/2019           33          7  Sunny
2  3/1/2019           46          8   Cold
3  4/1/2019           32          9   Rain
4  5/1/2019           35          4  Sunny
5  6/1/2019           31          3   Snow

In [13]:
rows,cols = df.shape # returns the dimensions of the data frame

In [14]:
rows,cols

(6, 4)

In [15]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [16]:
type(df['day'])

pandas.core.series.Series

In [18]:
df1 = df[['day','temperature']] # displaying only select columns
df1

        day  temperature
0  1/1/2019           32
1  2/1/2019           33
2  3/1/2019           46
3  4/1/2019           32
4  5/1/2019           35
5  6/1/2019           31

In [19]:
df['temperature'].max()

46

In [21]:
# querying the data frame :

df['day'][df['temperature']==df['temperature'].max()] # returns the day having max. temperature

2    3/1/2019
Name: day, dtype: object

In [22]:
df['event'].max()

'Sunny'

In [23]:
df.describe() # returns statistical value of the numerical col data

       temperature  windspeed
count     6.000000   6.000000
mean     34.833333   6.166667
std       5.636193   2.316607
min      31.000000   3.000000
25%      32.000000   4.500000
50%      32.500000   6.500000
75%      34.500000   7.750000
max      46.000000   9.000000

In [24]:
df = df.set_index('day') # setting the row/index for the data frame

In [25]:
df

          temperature  windspeed  event
day
1/1/2019           32          6   Rain
2/1/2019           33          7  Sunny
3/1/2019           46          8   Cold
4/1/2019           32          9   Rain
5/1/2019           35          4  Sunny
6/1/2019           31          3   Snow

In [26]:
df.index

Index(['1/1/2019', '2/1/2019', '3/1/2019', '4/1/2019', '5/1/2019', '6/1/2019'], dtype='object', name='day')

In [27]:
#searching the paticular row using a index
df.loc['1/1/2019']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2019, dtype: object

In [28]:
df.reset_index(inplace=True) # resetting the index

In [29]:
df

        day  temperature  windspeed  event
0  1/1/2019           32          6   Rain
1  2/1/2019           33          7  Sunny
2  3/1/2019           46          8   Cold
3  4/1/2019           32          9   Rain
4  5/1/2019           35          4  Sunny
5  6/1/2019           31          3   Snow

In [30]:
df.head() # returns the top 5 rows

        day  temperature  windspeed  event
0  1/1/2019           32          6   Rain
1  2/1/2019           33          7  Sunny
2  3/1/2019           46          8   Cold
3  4/1/2019           32          9   Rain
4  5/1/2019           35          4  Sunny

In [31]:
df.tail() # returns the last 5 rows

        day  temperature  windspeed  event
1  2/1/2019           33          7  Sunny
2  3/1/2019           46          8   Cold
3  4/1/2019           32          9   Rain
4  5/1/2019           35          4  Sunny
5  6/1/2019           31          3   Snow

In [32]:
#to_clipoard - coping the data to system clipboard

df.to_clipboard(sep=';')

;day;temperature;windspeed;event
0;1/1/2019;32;6;Rain
1;2/1/2019;33;7;Sunny
2;3/1/2019;46;8;Cold
3;4/1/2019;32;9;Rain
4;5/1/2019;35;4;Sunny
5;6/1/2019;31;3;Snow

In [33]:
#similarly to_dict,to_list,to_sql can be used