In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(10,3)*10,columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.840688  9.934305  5.865184
1  9.843941  2.150671  2.819126
2  6.784651  9.604843  1.935447
3  5.189210  1.797510  3.785859
4  7.579692  6.693972  8.970185
5  1.273828  1.191260  6.303448
6  0.038025  7.285152  5.330042
7  2.637649  3.728558  1.200492
8  0.507826  7.133454  7.238071
9  9.186733  4.735874  6.343428

In [4]:
for key,value in df.iteritems(): #Each column is iterated separately as key-value pair
    print (key,value)

col1 0    0.840688
1    9.843941
2    6.784651
3    5.189210
4    7.579692
5    1.273828
6    0.038025
7    2.637649
8    0.507826
9    9.186733
Name: col1, dtype: float64
col2 0    9.934305
1    2.150671
2    9.604843
3    1.797510
4    6.693972
5    1.191260
6    7.285152
7    3.728558
8    7.133454
9    4.735874
Name: col2, dtype: float64
col3 0    5.865184
1    2.819126
2    1.935447
3    3.785859
4    8.970185
5    6.303448
6    5.330042
7    1.200492
8    7.238071
9    6.343428
Name: col3, dtype: float64

In [6]:
for row_index,row in df.iterrows(): #Each row is iterated separately as row_index-row_value pair
    print (row_index,row)

0 col1    0.840688
col2    9.934305
col3    5.865184
Name: 0, dtype: float64
1 col1    9.843941
col2    2.150671
col3    2.819126
Name: 1, dtype: float64
2 col1    6.784651
col2    9.604843
col3    1.935447
Name: 2, dtype: float64
3 col1    5.189210
col2    1.797510
col3    3.785859
Name: 3, dtype: float64
4 col1    7.579692
col2    6.693972
col3    8.970185
Name: 4, dtype: float64
5 col1    1.273828
col2    1.191260
col3    6.303448
Name: 5, dtype: float64
6 col1    0.038025
col2    7.285152
col3    5.330042
Name: 6, dtype: float64
7 col1    2.637649
col2    3.728558
col3    1.200492
Name: 7, dtype: float64
8 col1    0.507826
col2    7.133454
col3    7.238071
Name: 8, dtype: float64
9 col1    9.186733
col2    4.735874
col3    6.343428
Name: 9, dtype: float64

In [9]:
for row in df.itertuples(): #returns an iterator yeilding a named tuple for each row
    print (row)

Pandas(Index=0, col1=0.840688046656114, col2=9.934305241958763, col3=5.865184018546016)
Pandas(Index=1, col1=9.84394111521246, col2=2.1506705968298725, col3=2.8191257947653914)
Pandas(Index=2, col1=6.784651300531147, col2=9.60484274728095, col3=1.9354472340384454)
Pandas(Index=3, col1=5.189210412160429, col2=1.797510452951958, col3=3.7858590087330377)
Pandas(Index=4, col1=7.579692163998341, col2=6.693971560824686, col3=8.970184652084397)
Pandas(Index=5, col1=1.273827601010492, col2=1.191259892947153, col3=6.303447755352307)
Pandas(Index=6, col1=0.0380248504269165, col2=7.285151570443309, col3=5.330041929849186)
Pandas(Index=7, col1=2.6376493238821963, col2=3.7285580134181586, col3=1.2004920492434135)
Pandas(Index=8, col1=0.5078262256160937, col2=7.133454152682139, col3=7.238071433253585)
Pandas(Index=9, col1=9.186733378605911, col2=4.735874153855615, col3=6.343427553701552)